#time.div{
    display: inline-block;
}
span{
    display:inline-block;
}
row{
    margin-top: 14%;
}
input[type=radio]{
    /* display:inline-block;
     */
     margin-left: 2%;
     
}
#image{
  width: 400px;
  height: 400px;
}
/* div{
    border: 1px solid black;
} */