
body{
   font-size: 20px;
}
.row{
    
    background-color: white;
}
input[type=radio]{
    
     margin-left: 2%;
     
}
#image img{
  width: 12rem;
  height: 12rem;
  
}
button{
   width: 30%;
   height: 100%;
   margin-top: 5%;
} 
#restart{
height: 100%;
}